openapi: 3.0.0
info:
  title: National Weather Service API
  version: 1.0.0
  description: |
    This API provides weather forecast data from the U.S. National Weather Service.

    Endpoints:
    - `/points/{latitude},{longitude}`: Returns a forecast URL for the location.
    - `/gridpoints/{office}/{gridX},{gridY}/forecast`: Returns simplified weather forecast data.

    ⚠️ Important: You must include a `User-Agent` header with all requests.
    Format: `app-name (contact@example.com)`
servers:
  - url: https://api.weather.gov
paths:
  /points/{latitude},{longitude}:
    get:
      operationId: getPointForecastUrl
      summary: Get forecast URL for a location
      description: |
        Returns the forecast URL for the given latitude and longitude.
        Include a valid `User-Agent` header with your request.
      parameters:
        - name: latitude
          in: path
          required: true
          description: Latitude of the location
          schema:
            type: number
        - name: longitude
          in: path
          required: true
          description: Longitude of the location
          schema:
            type: number
      responses:
        '200':
          description: Forecast URL retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  forecast:
                    type: string
                    description: Forecast endpoint URL
        '400':
          description: Invalid input
        '404':
          description: Not found

  /gridpoints/{office}/{gridX},{gridY}/forecast:
    get:
      operationId: getSimpleForecast
      summary: Get simplified weather forecast for grid location
      description: |
        Returns basic weather forecast for the provided grid location.
        Include a valid `User-Agent` header with your request.
      parameters:
        - name: office
          in: path
          required: true
          description: Forecast office ID (e.g., "LWX")
          schema:
            type: string
        - name: gridX
          in: path
          required: true
          description: Grid X coordinate
          schema:
            type: integer
        - name: gridY
          in: path
          required: true
          description: Grid Y coordinate
          schema:
            type: integer
      responses:
        '200':
          description: Forecast data retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  day1:
                    type: string
                    description: Forecast summary for the first day
                  day2:
                    type: string
                    description: Forecast summary for the second day
                  day3:
                    type: string
                    description: Forecast summary for the third day
        '404':
          description: Not found
