openapi: 3.0.0
info:
  title: National Weather Service API
  description: |
    Access weather forecast and metadata from the U.S. National Weather Service (NWS).
    This schema defines the `/points/{latitude},{longitude}` and `/gridpoints/{office}/{gridX},{gridY}/forecast` endpoints.
    **Note:** You must include a `User-Agent` header in all requests (e.g., `"User-Agent: my-app-name (your-email@example.com)"`).
  version: 1.0.0
servers:
  - url: https://api.weather.gov
    description: National Weather Service Production Server
paths:
  /points/{latitude},{longitude}:
    get:
      operationId: getPointMetadata
      summary: Get metadata for a specific latitude and longitude
      description: Returns metadata for the provided geographic coordinates, including forecast grid info and forecast office.
      parameters:
        - name: latitude
          in: path
          required: true
          description: Latitude of the location (e.g., 38.8977)
          schema:
            type: number
            format: float
        - name: longitude
          in: path
          required: true
          description: Longitude of the location (e.g., -77.0365)
          schema:
            type: number
            format: float
      responses:
        '200':
          description: Successfully retrieved point metadata
          content:
            application/geo+json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      forecast:
                        type: string
                        description: URL of the forecast data for this location
        '400':
          description: Invalid latitude or longitude
        '404':
          description: Location not found
  /gridpoints/{office}/{gridX},{gridY}/forecast:
    get:
      operationId: getGridpointForecast
      summary: Get forecast for a specific grid point
      description: Returns weather forecast for the specified grid coordinates and forecast office.
      parameters:
        - name: office
          in: path
          required: true
          description: Forecast office ID (e.g., "LWX")
          schema:
            type: string
        - name: gridX
          in: path
          required: true
          description: Grid X coordinate
          schema:
            type: integer
        - name: gridY
          in: path
          required: true
          description: Grid Y coordinate
          schema:
            type: integer
      responses:
        '200':
          description: Successfully retrieved forecast
          content:
            application/geo+json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      periods:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            temperature:
                              type: number
                            temperatureUnit:
                              type: string
                            detailedForecast:
                              type: string
        '404':
          description: Forecast not found
