openapi: 3.0.0
info:
  title: National Weather Service API
  description: |
    Access weather forecast and location metadata from the U.S. National Weather Service (NWS).
    
    This schema defines two endpoints:
    - `/points/{latitude},{longitude}`: Returns metadata about a geographic point, including forecast grid and office.
    - `/gridpoints/{office}/{gridX},{gridY}/forecast`: Returns forecast for a specific gridpoint.

    **Important:** The `User-Agent` header is required for all API requests. Format: `"app-name (contact@example.com)"`.
  version: 1.0.0
servers:
  - url: https://api.weather.gov
    description: National Weather Service Production Server
paths:
  /points/{latitude},{longitude}:
    get:
      operationId: getPointMetadata
      summary: Get metadata for a specific latitude and longitude
      description: Returns metadata for the provided geographic coordinates, including the forecast grid and office.
      parameters:
        - name: latitude
          in: path
          required: true
          description: Latitude of the location (e.g., 38.8977)
          schema:
            type: number
            format: float
        - name: longitude
          in: path
          required: true
          description: Longitude of the location (e.g., -77.0365)
          schema:
            type: number
            format: float
        - name: User-Agent
          in: header
          required: true
          description: Required by NWS. Format: app-name (contact@example.com)
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved point metadata
          content:
            application/geo+json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      forecast:
                        type: string
                        description: URL of the forecast data for this location
        '400':
          description: Invalid latitude or longitude
        '404':
          description: Location not found
  /gridpoints/{office}/{gridX},{gridY}/forecast:
    get:
      operationId: getGridpointForecast
      summary: Get forecast for a specific grid point
      description: Returns weather forecast for the specified grid coordinates and forecast office.
      parameters:
        - name: office
          in: path
          required: true
          description: Forecast office ID (e.g., "LWX")
          schema:
            type: string
        - name: gridX
          in: path
          required: true
          description: Grid X coordinate
          schema:
            type: integer
        - name: gridY
          in: path
          required: true
          description: Grid Y coordinate
          schema:
            type: integer
        - name: User-Agent
          in: header
          required: true
          description: Required by NWS. Format: app-name (contact@example.com)
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved forecast
          content:
            application/geo+json:
              schema:
                type: object
                properties:
                  properties:
                    type: object
                    properties:
                      periods:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            temperature:
                              type: number
                            temperatureUnit:
                              type: string
                            detailedForecast:
                              type: string
        '404':
          description: Forecast not found
